TZ=UTC

LOG_LEVEL=debug

API_LISTEN=::

API_DISABLE_HTTPS=true
API_URL=http://149.56.31.89:8080
API_FRONTEND_URL=http://149.56.31.89:3001
API_PUBLIC_TOKEN="key1 key2 key3"

#ETHERSCAN_API_KEY_ARBITRUM=...
#ETHERSCAN_API_KEY_AVAX=...
#ETHERSCAN_API_KEY_BSC=...
#ETHERSCAN_API_KEY_ETHEREUM=...
#ETHERSCAN_API_KEY_FANTOM=...
#ETHERSCAN_API_KEY_OPTIMISM=...
#ETHERSCAN_API_KEY_POLYGON=...

RPC_EXPONENTIAL_RETRY_ATTEMPTS=2
RPC_EXPONENTIAL_RETRY_MAX_DELAY_BETWEEN_CALLS_MS=1000

TIMESCALEDB_CPU_SHARE=0.5
GRAFANA_CPU_SHARE=0.5

GITHUB_RO_AUTH_TOKEN=...

RPC_API_KEY_AURORA=...
RPC_API_KEY_ANKR=...
RPC_API_KEY_METIS_OWNER=...
RPC_API_KEY_ALCHEMY=...
RPC_API_KEY_NODEREAL=...
RPC_API_KEY_FIGMENT=...
RPC_API_KEY_GETBLOCK=...
RPC_API_KEY_INFURA=...
RPC_API_KEY_QUIKNODE=...
